.form {
    background-color: $bgform;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: 1rem auto 1rem  ;


    &__container {
        width: 100%;
        display: grid;
        gap: 1em;
        grid-auto-columns: 1;
    }

    &__title {
        text-align: center;
        font-size: 1.9rem;
        margin-bottom: 0.4em;
    }

    &__input {
        font-size: map-get($map: $fontS, $key:s );
        padding: 0.8em 1em;
        outline: none;
        border: none;
        border: 1px solid grey;
        border-radius: 0, 2em;
    }

    &__input--message {
        resize: none;
        padding: 1.8em 1em;
        margin-bottom: 0.5em;
    }

    &__cta {
        font-size: map-get($map: $fontS, $key:s );
        background-color: #dc3545;
        border: none;
        font-weight: 300;
        padding: 0.7em 0;
        border-radius: 0.2em;
        cursor: pointer;
        font-weight: 400;
    }
}

/* MAPA CONTACTO */

iframe {
    width: 100% !important;
}