* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: bisque !important;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

ul {
    list-style: none;
}