/* mobile last */
@media (max-width: 768px) {
    .productos__grid {
        grid-template-columns: 1fr;
         margin-left: 26%;
        justify-content: center;
    }

    .card{
        justify-content: center;
    }
    .contenedorform__grid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }


    .container_footer {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .col img {
        width: 100%;
    }
    .contenedor_mapa iframe {
        margin: 0rem;
    }
}

@media (max-width: 480px) {
    .content__navbar {
        flex-direction: column;
    }
    .productos__grid {
        grid-template-columns: 1fr;
        margin-left: 8%;
        justify-content: center;
    }

  
}